body {
    font-family: sans-serif;
    background-image: linear-gradient(to left top, rgb(172, 113, 228), rgb(225, 235, 143));
}

form {
    max-width: 500px;
    margin: 2rem 10vw;
    border: 2px solid rgb(128, 43, 226);
    padding: 2rem;
    width: 100%;
    display: block;
    background-color: whitesmoke;
}

label {
    display: block;
    padding: 1rem;
    font-size: 14px;
    text-transform: uppercase;
}

input {
    display: block;
    border: 2px solid;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

#sendbtn {
    border: 0;
    background-color: rgb(30, 2, 66);
    color: white;
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.tab,
.tab tr,
.tab th {
    border: 2px solid purple;
    height: 50px;
}

.e-mail {
    width: 10rem;
}

table {
    border-collapse: separate;
    margin-top: 25px;
}

.name {
    width: 5rem;
}

.del {
    cursor: pointer;
    color: red;
}

.container {
    display: flex;
}